In [14]:
import numpy as np
import pandas as pd
import ast
import sys
sys.path.insert(1, '/Users/alikhannurlanuly/Lesion-Clustering/vertex_face_feature/')
from vertex_functions import create_vertex, calculate_vertex
sys.path.insert(1, '/Users/alikhannurlanuly/Lesion-Clustering/edge_face_feature/')
from edge_functions import create_edge, calculate_edge
sys.path.insert(1, '/Users/alikhannurlanuly/Lesion-Clustering/face_face_feature/')
from face_functions import create_face, calculate_face

In [27]:
# Sample of working files
xyz_loc = '../result/S01/T2/t01/S01_T2_t01_id_to_xyz.csv'
neighbor_loc = '../result/S01/T2/t01/S01_T2_t01_face_neighbors.csv'

def vertex_edge_face(xyz_loc, neighbor_loc):
    
    df = pd.read_csv(xyz_loc)
    df_nei = pd.read_csv(neighbor_loc)
    df['face_neighbors'] = df_nei['face_neighbors']
    df['xyz'] = df['xyz'].apply(lambda xyz: ast.literal_eval(xyz))
    df['face_neighbors'] = df['face_neighbors'].apply(lambda face_neighbors: ast.literal_eval(face_neighbors))
    
    #vertex_face
    df_v = create_vertex(df.copy())
    df_v = calculate_vertex(df_v)
    df_v.drop(columns = ['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8'], inplace = True)
    
    #edge_face
    df_e = create_edge(df.copy())
    df_e = calculate_edge(df_e)
    cols = [i for i in range(3, 15)]
    df_e.drop(df_e.columns[cols],axis=1,inplace=True)
    
    #face_face
    df_f = create_face(df.copy())
    df_f = calculate_face(df_f)
    cols = [i for i in range(3, 9)]
    df_f.drop(df_f.columns[cols],axis=1,inplace=True)
    
    df_main = pd.concat([df, df_v.iloc[:,3:], df_e.iloc[:,3:], df_f.iloc[:,3:]], axis=1, sort=False)
    # Save to csv file
    name = './' + xyz_loc[:32]+'all_count.csv'
    df_main.to_csv(name, encoding='utf-8', index = False)
    
    return df_main

In [28]:
vertex_edge_face(xyz_loc, neighbor_loc)

,voxel_id,xyz,face_neighbors,v1_n,v2_n,v3_n,v4_n,v5_n,v6_n,v7_n,...,e9_n,e10_n,e11_n,e12_n,f1_n,f2_n,f3_n,f4_n,f5_n,f6_n
0,0,"(87, 151, 34)","[1, 5]",2,2,1,1,1,1,0,...,0,0,0,0,1,1,0,0,0,0
1,1,"(87, 152, 34)",[0],1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,"(88, 141, 34)",[3],1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,"(88, 142, 34)","[2, 4, 6]",2,2,2,2,1,1,1,...,1,1,0,0,1,1,1,0,0,0
4,4,"(88, 143, 34)","[3, 7]",2,2,1,1,1,1,0,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8715,8715,"(172, 165, 27)","[8705, 8716]",2,2,1,1,1,1,0,...,0,0,0,0,1,1,0,0,0,0
8716,8716,"(172, 166, 27)","[8706, 8715]",2,2,1,1,1,1,0,...,0,0,0,0,1,1,0,0,0,0
8717,8717,"(172, 167, 29)","[8709, 8718]",2,2,1,1,1,1,0,...,0,0,0,0,1,1,0,0,0,0
8718,8718,"(172, 168, 29)","[8710, 8717, 8719]",2,2,2,2,1,1,1,...,1,1,0,0,1,1,1,0,0,0
8719,8719,"(173, 168, 29)",[8718],1,1,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0